.homeContainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.homeTitle{
  width: 1024px;
  font-size: 20px;
}
.imgCont{
  width: 100%;
  height: 100%;

}
 
.imgCont > img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
